.articles h2{
    font-size: 16px;

}

.articles img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    
}

.articles {
    margin-bottom: 20px;

}

.gridColumns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 45px;
    margin-left: 100px;

}

.prod_btn {
    background-color: rgb(238, 168, 37);
    border-style: none;
    border-radius: 10px;
    padding: 5px;
}