/* NAVBAR STYLING STARTS */
.navbar {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131921;
    color: white;
}

.user{
    padding-right: 10px;
    font-weight: bolder;
    margin-top: 2px;
}

.searchbar{
    width: 1200px;
    height: 40px;
}

.navbar_nav {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    
}

.nav_option {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}

.navbar .amazon_pic {
    height: 30%;
    width: 30%;
    margin-left: 1rem;
}

.cart .shopping_pic {
    height: 30px;
    width: 30px;
    margin-right: 25px;
}





