.boxes{
    margin-top: 50px;
    border: 1px solid black;
    width: 350px;
    height: 280px;
    padding-left: 57px;
    padding-top: 20px;
    margin-left: 500px;
}

.emailBox{
    margin-bottom: 15px;
    font-size: 20px;
}

.passwordBox{
    margin-bottom: 15px;
    font-size: 20px;
}

.loginTitle{
    margin-bottom: 20px;
    font-size: 40px;
}

.loginBtn{
    background-color: #FF9900;
    border: 1px solid black;
    width: 80px;
    height: 45px;
    font-size: 20px;
}

.forgotPassword{
    margin-left: 503px;
}

.logSuccess{
margin-top: 25px;
margin-left: 750px;
border: 1px solid black;
width: 360px;
height: 300px;
padding-left: 15px;
}

.logSuccess h3{
    margin-bottom: 20px;

}

.logSuccess h1{
    margin-bottom: 20px;
}

.logSuccess button{
    background-color: rgb(238, 168, 37);
    margin-left: 110px;
}