.parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.item_img img {
    width: 500px;
    max-width: 500px;
    height: 580px;
    max-height: 580px;
    border-radius: 15%;
}

.item_pg_btn{
    background-color: #FF9900;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
}

.stars{
    width: 120px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: -20px;
}

.price{
    font-size: 28px;
}

.item_title{
    font-weight: bolder;
}

.instock {
    color: green;
}

.item_info{
    width: 800px;
    max-width: 800px;
    margin-bottom: 230px;
    font-size: 17px;
}

.amazon_choice {
    background-color: rgb(13, 13, 145);
    color: white;
    width: 135px;
}

.item_checkout {
    border: 1px solid black;
    border-radius: 10px;
    width: 280px;
    max-width: 280px;
    height: 580px;
    max-height: 580px;
    align-items: center;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 17px;
}

.protection {
    margin-top: 10px;
}

.addToCart {
    margin-top: 25px;
}